In [ ]:
"""
DIA 1
"""

In [1]:
print("Hi students!")

Hi students!

In [4]:
name, age = "Albert", 22
print(f"My name is {name} and I am {age}")

My name is Albert and I am 22

In [5]:
42 #This is a value
n = 5 #This is a variable
4 + 2 #This is an expression.

6

In [6]:
#Arithmetic operators.
8 % 3 #To compute the module of a number. 
2**3 #To compute the power of a number.

2

In [9]:
#Assignment operators
x = 5 #First we create the new variable with a value. 
x += 3 #We add 5 to the x variable. --> x = x + 3. x will be equal to 8.
x -= 2 #We substract 3 to the variable x. X will be equal to 6.

2

In [10]:
x = 1
x *= 1+1
print(x)
x += 2+3
print(x)
x /= 3
print(x)

2
7
2.3333333333333335

In [15]:
#Boolean expression
a, b = 56, 2
a == b #It tests if they are equal. --> False. 
a != b #It tests if they are different. --> True.
a < b #It tests if a is smaller than b --> False
a >= b #It tests if a is bigger or equal than b --> True

True

In [21]:
#not
a, b = 2, 2
not a == b

False

In [24]:
# and (&). It returns true only if all the expressions that are evaluated are True. Otherwise, it will return false. 
a, b = 222, 2
(a > 0) and (b > 1) # True and True. --> True. 
(a > 0) & (b > 100000) #True and False. --> False

False

In [27]:
# or (|). It returns false only if every expression is false. If only one of them (or both) are true, it will return True. 
a, b = 222, 2
(a > 0) or (b > 1) # True and True. --> True. 
(a > 0) | (b > 100000) #True and False. --> True
(a > 1000) | (b > 100000) #False and False. --> False

False

In [20]:
#Exemples
a, b = 4, 5
x = (b >= a) & (b >= 0) #& = and --> True.
print(x)
x = (b >= a) | (b >= 0) # | == or. --> True. 
print(x)
x = (b >= a) | (b >= 1000) # --> True
print(x)
x = not ((b >= a) | (b >= 1000)) #not gives us the opposite result. If one of both are true, the statement would be true, but with the not, it will return the opposite result. --> False
print(x)

True
True
True
False

In [32]:
#String expressions
name = "Albert"
age = "22"
x = name + " is " + age +" years old." #The '+' symbol is used to concatenate strings. 
print(x)
x = name * 3 # The '*' operator is used to repeat the used string an specific number of times.
print(x)

Albert is 22 years old.
AlbertAlbertAlbert

In [35]:
#Data types
name, age = "Albert", 22
#x = name + " is " + age + " years old." #Error, age is an int not a str. 
x = name + " is " + str(age) + " years old." #We have converted the age integer to a str using str function. We can also use age = "22". 
print(x)

Albert is 22 years old.

In [38]:
#Data types
num1 = "21" #num1 contains a number but the object is a string.
num2 = "3" #num2 contains another string.
num1 + num2 # "21" + "3" = "213". This is not an addition, it is concatenating both strings
int(num1) + int(num2) # 21 + 3 = 24
float(num1) + float(num2) # 21 + 3 = 24

24.0

In [40]:
#Comments

'''
To comment a thing
'''

"""
To comment another thing
"""

#HEHE, more comments.

patata

In [45]:
#Final exercice E1.
x = (5+4*(2/4)) > (5**2-3) #7 > 22 --> False.
print(x)
x = not(((2/4)+2) <= (5**2-3) or (3*4+5) == (4*3+5)) # not(((2.5) <= (22) | (17) == (17))) -> False. 
print(x)
x = ("Bioinformatics" > "Artifacts") #Aquí compta la longitud. 14 > 9 --> True.
print(x)

False
False
True

In [54]:
#E1. Compute the mean height and the stdev of three students. 
paul = 1.6
sarah = 1.82
robert = 1.75
height = (paul + sarah + robert)/3
stddev = (((paul-height)**2+(sarah-height)**2+(robert-height)**2)/3)**(1/2)
print("The average height is " + str(height) + " and the standard deviation is " + str(stddev))
print(f"The average height is {height:.4f} and the standard deviation is {stddev:.4f}")
#E2. Compute the amount of years left to live for someone given his year_birth and year_decessed.
year_birth = 1995
year_deceased = 2060
print(f"This person has {year_deceased - 2023} years left")

The average height is 1.7233333333333334 and the standard deviation is 0.09177266598624134
The average height is 1.7233 and the standard deviation is 0.0918
This person has 37 years left

In [ ]:
"""
DIA 2
"""

In [3]:
#Conditional statement type 1
x = 11
if x > 10: #if is the basic operator of the conditional statement.
    print("X is greater than 10") #The identation indicates that we are in the conditional and we will execute this only if the "if" is True
print("End of the if clause") #This is outside the conditional

X is greater than 10
End of the if clause

In [4]:
#Conditional statement type 2
x = 9
if x > 10: #if is the basic operator of the conditional statement.
    print("X is greater than 10") #The identation indicates that we are in the conditional and we will execute this only if the "if" is True
else:
    print("X is lower than 10")
print("End of the if clause") #This is outside the conditional

X is lower than 10
End of the if clause

In [5]:
#Conditional statement type 3
x = 0
if x > 10: #if is the basic operator of the conditional statement.
    print("X is greater than 10") #The identation indicates that we are in the conditional and we will execute this only if the "if" is True
elif x == 0: #2nd condition that will be executed only if the "if" is False.
    print("X is equal to 0")
else: #It will be executed only if all the other conditions are False
    print("X is lower than 10")
print("End of the if clause") #This is outside the conditional

X is equal to 0
End of the if clause

In [15]:
#E1. Given 4 numbers (a, b, c and d) find the maximum
a, b, c, d = int(input("La a és igual a: ")), int(input("La b és igual a: ")), int(input("La c és igual a: ")), int(input("La d és igual a: ")) #Per afegir els números des del teclat.
if (a > b) & (a > c) & (a > d):
    print("a is the maximum")
elif (b > a) & (b > c) & (b > d):
    print("b is the maximum")
elif (c > a) & (c > b) & (c > d):
    print("c is the maximum")
else:
    print("d is the maximum")

La a és igual a: 1
La b10
3
4
b is the maximum

In [20]:
#E2. Find the maximum of 3 numbers considering that the numbers can be equal and there can be 2 o 3 maximums
a, b, c = int(input("La a és igual a: ")), int(input("La b és igual a: ")), int(input("La c és igual a: "))
if (a >= b) & (a >= c):
    if (a == b) & (a == c):
        print("Els tres són màxims")
    elif (a == b):
        print("a i b són màxims")
    elif (a == c):
        print("a i c són màxims")
    else:
        print("a és l'únic màxim")
elif (b >= a) & (b >= c):
    if (b == c):
        print("b i c són maxims")
    else:
        print("b és el màxim")
else:
    print("c és el màxim")

La a és igual a: 1
La b és igual a: 0
La c és igual a: 1
a i c són màxims
c és el màxim

In [54]:
"""
[E3] Given 2 sequences of DNA. The first sequence is mapping
from position seq1_begin to seq1_end, and the second is
mapping from position seq2_begin to seq2_end. Write a small
script that detects if both fragments are overlapping.

We write a program that tests if two DNA sequences are overlapped following the complementary rule.
We have to write an script with 2 DNA sequences (not only positions) and we compare each position. We have to see if one is inside the other and if it is overlapped
One sequence is smaller than the other. Test if the smaller is inside the other and test if they are overlapped.
Two conditions to consider: 
   If the smaller is inside the bigger.
   If the smaller have some bases inside the same motif of the bigger one, they are overlapped. It is not necessary to overlap with the same letter, only with the motif (taking into account the beggining and the end.
    
Ex: DNA 1: ATTCGGAAGG
    DNA 2: CGGA
These sequences are overlapped because the attC, the C is part of the motif of the small sequence CGGA
"""
DNA1, DNA2 = input("The bigger sequence is: "), input("The motif we are searching is: ") #We store the data
seq1_begin, seq1_end = int(input("The bigger sequence starts in: ")), seq1_begin+len(DNA1) #We store the data
seq2_begin, seq2_end = int(input("The motif sequence starts in: ")), seq2_begin+len(DNA2) #We store the data
#1rst condition: the motif is inside the bigger sequence
if DNA2 in DNA1:
    #2nd conditions. If the sequence is partially or totally overlapped: 
    #1rst clause: if the motif end is inside the other sequence.
    #2nd clause: if the motif begin is inside the other sequence.
    #We have to meet one or the other
    print(DNA1.find(DNA2)+seq1_begin, seq2_end, seq2_end)
    if (DNA1.find(DNA2)+seq1_begin <= seq2_end <= seq2_end) | (DNA1.find(DNA2)+seq1_begin <= seq2_begin <= DNA1.find(DNA2)+seq1_begin+len(DNA2)): 
        print("True, both sequences are overlapped")
    else:
        print("False, they are not overlapped")
else:
    print("False, they are not overlapped")

The bigger sequence is: ATTCGGAAGG
The motif we are searching is: CGGA
The bigger sequence starts in: 0
The motif sequence starts in: 3
3 4 4
True, both sequences are overlapped

In [61]:
DNA1, DNA2 = input("The bigger sequence is: "), input("The motif we are searching is: ") #We store the data
seq1_begin,  seq2_begin = int(input("The bigger sequence starts in: ")), int(input("The motif sequence starts in: ")) #We store the data
seq1_end, seq2_end = seq1_begin+len(DNA1), seq2_begin+len(DNA2) #We store the data
#1rst condition: the motif is inside the bigger sequence
if DNA2 in DNA1:
    #2nd conditions. If the sequence is partially or totally overlapped: 
    #1rst clause: if the motif end is inside the other sequence.
    #2nd clause: if the motif begin is inside the other sequence.
    #We have to meet one or the other
    print(DNA1.find(DNA2)+seq1_begin, seq1_end, seq2_end)
    if (DNA1.find(DNA2)+seq1_begin <= seq2_end <= seq1_end) | (DNA1.find(DNA2)+seq1_begin <= seq2_begin <= DNA1.find(DNA2)+seq1_begin+len(DNA2)): 
        print("True, both sequences are overlapped")
    else:
        print("False, they are not overlapped")
else:
    print("False, they are not overlapped")

The bigger sequence is: ATTCGGAAGG
The motif we are searching is: CGGA
The bigger sequence starts in: 2
The motif sequence starts in: 4
2 12 4 8 ATTCGGAAGG CGGA 10 4
5 12 8
True, both sequences are overlapped

In [42]:
#Iterative statements --> While loop. It ios used when we wnat to iterate until a certain condition is met.
x = 10
while x < 20: #Take into consideration that while may be an infinite loop. 
    print(x)
    x += 1

10
11
12
13
14
15
16
17
18
19

In [46]:
#Iterative statements --> For loop. We use this when we know how many times we want to iterate or when we iterate using another object. 
for x in range(5): #Range function may accept different parameters. The last position is always the number - 1 (it starts from 0 or what we want.  
    print(x)
    
for _ in range(2, 10): 
    print("Hi")
    
name = "Albert"
for x in name: #If we want to iterate over an object/collection.
    print(x)

0
1
2
3
4
Hi
Hi
Hi
Hi
Hi
Hi
Hi
Hi
A
l
b
e
r
t

In [49]:
#Iterative statements --> Nested iterative structure
for row in range(3):
    for column in range(3):
        print(f"The row is: {row} and the column is {column}")

The row is: 0 and the column is 0
The row is: 0 and the column is 1
The row is: 0 and the column is 2
The row is: 1 and the column is 0
The row is: 1 and the column is 1
The row is: 1 and the column is 2
The row is: 2 and the column is 0
The row is: 2 and the column is 1
The row is: 2 and the column is 2

In [64]:
#Break and continue commands
x = 1
while x < 100:
    x += 1
    if x % 2 == 1: #To print only even numbers, we will find the odd numbers and avoid to print them
        continue
    print(x)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [ ]:
#Exercices --> Section 4.

In [65]:
#E1. Print all odd numbers from 1 to 100 using a while loop. Repeat using a for loop.
i = 0
while i < 100:
    i+1
    if i % 2 == 0:
        break
    print(i)

for x in range(1, 100, 2):
    print(x)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

In [68]:
#E2. Print all pairs of numbers below 100 that add up to 50.
x, y = 0, 50
for i in range(51):
    print(x+i, y-i)

0 50
1 49
2 48
3 47
4 46
5 45
6 44
7 43
8 42
9 41
10 40
11 39
12 38
13 37
14 36
15 35
16 34
17 33
18 32
19 31
20 30
21 29
22 28
23 27
24 26
25 25
26 24
27 23
28 22
29 21
30 20
31 19
32 18
33 17
34 16
35 15
36 14
37 13
38 12
39 11
40 10
41 9
42 8
43 7
44 6
45 5
46 4
47 3
48 2
49 1
50 0

In [75]:
#E3. Print and count all possible 4-mers (i.e., all possible combinations of ACGT of length 4). Repeat avoiding combinations containing just one base (e.g., “AAAA”, “CCCC”).
DNA = ("A", "T", "C", "G") #It is possible to do it with a string object.
contador = 0 #To count the number of iterations. 
#Since we want a 4-mer, we need 4 for loops to obtain all possible combinations. 
for base_element1 in DNA:
    for base_element2 in DNA:
        for base_element3 in DNA:
            for base_element4 in DNA:
                #To take into account the restriction, we do not print or count the AAAA, CCCC, GGGG or TTTT combinations
                if base_element1 == base_element2 == base_element3 == base_element4:
                    continue
                contador+=1
                print(base_element1, base_element2, base_element3, base_element4, contador)
print(f"The total number of combinatios are: {contador}")

A A A T 1
A A A C 2
A A A G 3
A A T A 4
A A T T 5
A A T C 6
A A T G 7
A A C A 8
A A C T 9
A A C C 10
A A C G 11
A A G A 12
A A G T 13
A A G C 14
A A G G 15
A T A A 16
A T A T 17
A T A C 18
A T A G 19
A T T A 20
A T T T 21
A T T C 22
A T T G 23
A T C A 24
A T C T 25
A T C C 26
A T C G 27
A T G A 28
A T G T 29
A T G C 30
A T G G 31
A C A A 32
A C A T 33
A C A C 34
A C A G 35
A C T A 36
A C T T 37
A C T C 38
A C T G 39
A C C A 40
A C C T 41
A C C C 42
A C C G 43
A C G A 44
A C G T 45
A C G C 46
A C G G 47
A G A A 48
A G A T 49
A G A C 50
A G A G 51
A G T A 52
A G T T 53
A G T C 54
A G T G 55
A G C A 56
A G C T 57
A G C C 58
A G C G 59
A G G A 60
A G G T 61
A G G C 62
A G G G 63
T A A A 64
T A A T 65
T A A C 66
T A A G 67
T A T A 68
T A T T 69
T A T C 70
T A T G 71
T A C A 72
T A C T 73
T A C C 74
T A C G 75
T A G A 76
T A G T 77
T A G C 78
T A G G 79
T T A A 80
T T A T 81
T T A C 82
T T A G 83
T T T A 84
T T T C 85
T T T G 86
T T C A 87
T T C T 88
T T C C 89
T T C G 90
T T G A 91
T T G T 92
T T G C 93
T T G G 94
T C A A 95
T C A T 96
T C A C 97
T C A G 98
T C T A 99
T C T T 100
T C T C 101
T C T G 102
T C C A 103
T C C T 104
T C C C 105
T C C G 106
T C G A 107
T C G T 108
T C G C 109
T C G G 110
T G A A 111
T G A T 112
T G A C 113
T G A G 114
T G T A 115
T G T T 116
T G T C 117
T G T G 118
T G C A 119
T G C T 120
T G C C 121
T G C G 122
T G G A 123
T G G T 124
T G G C 125
T G G G 126
C A A A 127
C A A T 128
C A A C 129
C A A G 130
C A T A 131
C A T T 132
C A T C 133
C A T G 134
C A C A 135
C A C T 136
C A C C 137
C A C G 138
C A G A 139
C A G T 140
C A G C 141
C A G G 142
C T A A 143
C T A T 144
C T A C 145
C T A G 146
C T T A 147
C T T T 148
C T T C 149
C T T G 150
C T C A 151
C T C T 152
C T C C 153
C T C G 154
C T G A 155
C T G T 156
C T G C 157
C T G G 158
C C A A 159
C C A T 160
C C A C 161
C C A G 162
C C T A 163
C C T T 164
C C T C 165
C C T G 166
C C C A 167
C C C T 168
C C C G 169
C C G A 170
C C G T 171
C C G C 172
C C G G 173
C G A A 174
C G A T 175
C G A C 176
C G A G 177
C G T A 178
C G T T 179
C G T C 180
C G T G 181
C G C A 182
C G C T 183
C G C C 184
C G C G 185
C G G A 186
C G G T 187
C G G C 188
C G G G 189
G A A A 190
G A A T 191
G A A C 192
G A A G 193
G A T A 194
G A T T 195
G A T C 196
G A T G 197
G A C A 198
G A C T 199
G A C C 200
G A C G 201
G A G A 202
G A G T 203
G A G C 204
G A G G 205
G T A A 206
G T A T 207
G T A C 208
G T A G 209
G T T A 210
G T T T 211
G T T C 212
G T T G 213
G T C A 214
G T C T 215
G T C C 216
G T C G 217
G T G A 218
G T G T 219
G T G C 220
G T G G 221
G C A A 222
G C A T 223
G C A C 224
G C A G 225
G C T A 226
G C T T 227
G C T C 228
G C T G 229
G C C A 230
G C C T 231
G C C C 232
G C C G 233
G C G A 234
G C G T 235
G C G C 236
G C G G 237
G G A A 238
G G A T 239
G G A C 240
G G A G 241
G G T A 242
G G T T 243
G G T C 244
G G T G 245
G G C A 246
G G C T 247
G G C C 248
G G C G 249
G G G A 250
G G G T 251
G G G C 252
The total number of combinatios are: 252

In [109]:
#Exercices part 5. E1 Given an integer, plot on the console a pyramid made of asterisks like the following
number = int(input("Introduce the levels of the pyramid: ")) #Number of levels.The 1rst level will have  
pyramid = ""
#We will always start with 1 asterisk in the 1rst level. 
asterisks = 1
#The number of blanks on the left side. We will always start with the number of levels + 2 blanks. Then, we will reduce -2 each level.
blanks = 2*number-2
for level in range(1, number+1):#We iterate over each level
    #Try to find the number of asterisks and blanks for each level. 
    pyramid += (" "*blanks)+("* "*asterisks)+(" "*(blanks-1))+"\n"
    #Each consecutive level, we will have 2 extra asterisks with one blank behind. 
    asterisks += 2
    #For each level, we will have 2 less blanks on the right side.
    blanks -= 2
print(pyramid)

Introduce the levels of the pyramid: 4
      *
    * * *
  * * * * *
* * * * * * *

In [117]:
#E1 Given an integer, plot on the console a pyramid made of asterisks like the following
#Per sense els espais en blanc
n = int(input("Introduce the levels of the pyramid: "))
for i in range(n):
    #The first part are the blanks, the second part are the numbers of asterisks in each level taking into account that we start in the 0 level, 
    print(" "*(n-i-1)+"*"*(2*i+1))

Introduce the levels of the pyramid: 4
   *
  ***
 *****
*******

In [110]:
#E2 Given an integer, plot on the console a pyramid made of asterisks like the following
number = int(input("Introduce the levels of the pyramid: ")) #Number of levels.The 1rst level will have  
pyramid = ""
#We will always start with 1 asterisk in the 1rst level. 
asterisks = 1
#The number of blanks on the left side. We will always start with the number of levels + 2 blanks. Then, we will reduce -2 each level.
blanks = number-1
for level in range(1, number+1):#We iterate over each level
    #Try to find the number of asterisks and blanks for each level. 
    pyramid += (" "*blanks)+("* "*asterisks)+(" "*(blanks-1))+"\n"
    #Each consecutive level, we will have 2 extra asterisks with one blank behind. 
    asterisks += 1
    #For each level, we will have 2 less blanks on the right side.
    blanks -= 1
print(pyramid)

Introduce the levels of the pyramid: 4
   *
  * *
 * * *
* * * *

In [ ]:
#Assignment!
box_size, grid_size = int(input("The size of the box is: ")), input(("The size of the grid is: "))
figure=""
#Firstly try to generate the grid. 
for row_boxes in grid_size: 
    for row in range(1, box_size+1):
        for column in range(1, box_size+1):
            if column

In [ ]:
#FUNCTIONS

In [118]:
#Basic structure of a function. The parameters of the function (num1 and num2) only exists inside the function and act like variables. 
def add2Numbers(num1, num2):
    result = num1 + num2
    return result

In [119]:
# The 4 will be assigned to the "num1" parameter and the 6 will be assigned to the "num2" parameter. 
add2Numbers(4, 6)

10

In [122]:
#What if sometimes we want to sum 2 and other times 3
def add2_or3_Numbers(num1=0, num2=0, num3=0, num4=0): #If we want only, the num3 and num4 will be 0. We can add default numbers to parameters.
    result= num1 + num2 + num3 + num4 #By default, every number is 0. This will change if we want any number.
    return result

In [123]:
r = add2_or3_Numbers(3, 6, 10)
print(r)

19

In [ ]:
"""
DIA 3 (22/9/23)
"""

In [1]:
#Recursive function

#Example of a recursive function. We have to think about 2 cases: when the function has to end and the rest cases (general case). 
def countDown(n):
    if n == 0: #When we have discounted everything, return it. 
        return 
    else: #General case, when the recursion progress.
        print(n)
        countDown(n-1)

In [15]:
factorial_2(5)

120

In [13]:
#Example 2. The factorial of a number
#The iterative way. 
def factorial(n):
    result = n
    for i in range(1, n):
        result *= i
    return result
#The recursive function
def factorial_2(n):
    #The base case is when we arrive to 1. 
    if n == 1:
        return 1 #This will be executed at the end, and the function will carry out the other operations (2*1*3*4*5 if n == 5)
    #The general case
    else:
        return n*factorial_2(n-1) #The factorial is executed before the return.
#The multiplication will not be executed until the entire operation can be done.

In [ ]:
#Final exercices
#At home!

In [ ]:
#DATA STRUCTURE

In [17]:
#Strings
string = "javier"
string[0:3]

'jav'

In [23]:
#Bear in mind that, if we are writing in a reverse way, the first one is not included in the 0. 
dna = "GATTACA"
dna[2::-1]

'TAG'

In [33]:
#String methods.
string = "          JA JAS            "
print(string)
print(string.strip()) #To delete the white spaces at the beggining and the end.
string2 = "javi-39-bcn"
print(string2.split('-')) #It creates a list separating the elements using a separation character.

          JA JAS
JA JAS
['javi', '39', 'bcn']

In [40]:
dna = "GATTACA"
print(dna.replace("A", "B")) #We replace the original A character with the B.
print(dna.count("A")) #Count counts the number of occurrences of a given character or substring.
print(dna.find("CA")) #It returns the index of the first occurence.

GBTTBCB
3
5

In [42]:
#Iterating over a string. 
dna = "GATTACA"
for x in dna: #It iterates over every letter, which will be stored in the x variable.. 
    print(x)

G
A
T
T
A
C
A

In [50]:
#Lists
my_list = ["orange","apple","banana"]
len(my_list) #To know the size of my list. 
#The operator in is used to know if something is inside the list or not
"melon" in my_list #Returns false if there's not or True if there's. 
my_list[1] #It returns apple. 
my_list[-2] #The same as before. 
my_list[1:3] #To obtain a subset of elements. It will return the last two. 
my_list[0] = 333233 #To rewrite the element in the index 0.

In [63]:
#List methods
my_list = ["orange","apple","banana"]
my_list.append("melon") #To add at the end a new element
my_list.insert(1, "melon") #To specify where we want to introduce a new element. The 1rst parameter is the position and the second is the element
my_list.count("melon") #To count the number of elements. 
my_list.pop() #It is used to remove elements. Without arguments, it removes the last element.
my_list.pop(0) #With arguments, we can indicate the index of the element we want to remove.
my_list.remove("apple") #To remove elements using their name, not their index. Without parameters, it removes the first element of the list.
print(my_list)

['melon', 'banana']

In [65]:
my_list = ["orange","apple","banana"]
new_list = my_list
print(f"My original list is {my_list}, and my new list is {new_list}")
new_list[0] = 20
print("The new list now is", new_list, "and the old", my_list)
#This way, both lists are being modified. 

#For that reason, to copy a list, we import a library to copy the list. 
import copy
my_list = ["orange","apple","banana"]
new_list = copy.copy(my_list)
print(f"My original list is {my_list}, and my new list is {new_list}")
new_list[0] = 20
print("The new list now is", new_list, "and the old", my_list)

My original list is ['orange', 'apple', 'banana'], and my new list is ['orange', 'apple', 'banana']
The new list now is [20, 'apple', 'banana'] and the old [20, 'apple', 'banana']
My original list is ['orange', 'apple', 'banana'], and my new list is ['orange', 'apple', 'banana']
The new list now is [20, 'apple', 'banana'] and the old ['orange', 'apple', 'banana']

In [71]:
#Tuples
my_tuple = ("apple", "banana", "orange")
#my_tuple[0] = "melon" #Tuples do not support item assignment, you cannot modify anything. It will call an error.
my_tuple[2]

'orange'

In [72]:
#sets
my_set = {"orange", "apple", "banana"}
my_set.add("melon") #It won't be added at the end of the set, but at the penultima position.
my_set.discard("apple")
my_set

{'banana', 'melon', 'orange'}

In [90]:
#Dictionaries. 
persons = {
    #Key :  Value
    "Tom" : 30,
    "Maria" : 40,
    "Andrew" : 25,
    "Javier" : 32
}
persons["Maria"] #To obtain the value associated to a key. 

#Methods
persons.pop("Andrew") #It removes the given element and returns it. 
"Maria" in persons #To find if a key is in a dictionary. 
persons["Javier"] = 39 #To add new elements, we just name a new key and its value. No methods are necessary. 

#We canot modify the key of an element, only its associated value.
persons["Javier"] = 26
#Iterations
for e in persons: #We iterate over the key. 
    print(e, persons.get(e))

Tom 30
Maria 40
Javier 26

{'Tom': 30, 'Maria': 40, 'Javier': 26}

In [100]:
#String exercices
dna = "GATTACA"
#E1
def reverse_sequence(seq_1):
    return seq_1[::-1]
print(reverse_sequence(dna))

#E2
def iterative_rs(seq_1):
    rv = ""
    for base in seq_1[::-1]:
        rv+= base
    return rv
print(iterative_rs(dna))

#E3
def recursive_rs(seq_1):
    #Base case
    if len(seq_1) == 1:
        return seq_1
    #Global case
    else:
        return seq_1[-1]+recursive_rs(seq_1[0:-1]) #You obtain the last element and you repeat the iteration eliminating the last one
print(recursive_rs(dna))

ACATTAG
ACATTAG
ACATTAG

In [130]:
#Exercices lists. E3
#a) --> Iterative.
def iterative_common_elements(list_1, list_2):
    common=[]
    #We iterate over one list
    for n in list_1:
        #We search if the given character is inside the other list. If true, append it. 
        if (n in list_2) == True:
            common.append(n)
    return common
tlist_1, tlist_2 = ["a", "b", "c", "d", "e", 'f'], ["Patata al vapor", "b", "ejejjeje", "e"]
print(iterative_common_elements(tlist_1, tlist_2))

#b) Recursive
def recursive_common_elements(list_1, list_2): 
    #Basal case
    #The last iteration, we have to stop the recursive function. 
    if len(list_1) == 1:
        if (list_1[0] in list_2):
            return [list_1[0]]
        else:
            #Remember that we have to return something, because we are summing with the anterior iterations. We need another list to be able to concatenate them. 
            return []
    #General case
    else:
        #If we find the element, we save it in a list format. 
        if (list_1[0] in list_2):
            return [list_1[0]]+recursive_common_elements(list_1[1:], list_2)
        #if we do not find it, repeat everything again substracting the first element of the list. 
        else:
            return recursive_common_elements(list_1[1:], list_2)
print(recursive_common_elements(tlist_1, tlist_2))

['b', 'e']
['b', 'e']

In [149]:
#Dicctionaries exercices. E3
def count_kmers(seq_1, k):
    dicc={}
    for n in range(len(seq_1)-k+1):
        if seq_1[n:n+k] in dicc:
            dicc[seq_1[n:n+k]] += 1
        else:
            dicc[seq_1[n:n+k]] = 1
    #Here we could only return dicc and it would be correct.
    return dict(sorted(dicc.items(), key=lambda x:x[1], reverse = True)) #Totally useful. This code is used to sort the dictionary depending on the key values. 
count_kmers("CTAGCAGCATGCAGTCTGACTAGCTAGCTACGTACGGATCGATCGATCGTATATAGCGCGCGCATCGATCGATCGACTAGCATG", 5)

#Aprendre el setdefault per crear un objecte nou sense necessitat de tenir el if.

{'GATCG': 5,
 'ATCGA': 5,
 'CTAGC': 4,
 'TCGAT': 4,
 'CGATC': 4,
 'TAGCA': 2,
 'AGCAT': 2,
 'GCATG': 2,
 'GACTA': 2,
 'ACTAG': 2,
 'TAGCT': 2,
 'AGCTA': 2,
 'GCGCG': 2,
 'CGCGC': 2,
 'AGCAG': 1,
 'GCAGC': 1,
 'CAGCA': 1,
 'CATGC': 1,
 'ATGCA': 1,
 'TGCAG': 1,
 'GCAGT': 1,
 'CAGTC': 1,
 'AGTCT': 1,
 'GTCTG': 1,
 'TCTGA': 1,
 'CTGAC': 1,
 'TGACT': 1,
 'GCTAG': 1,
 'GCTAC': 1,
 'CTACG': 1,
 'TACGT': 1,
 'ACGTA': 1,
 'CGTAC': 1,
 'GTACG': 1,
 'TACGG': 1,
 'ACGGA': 1,
 'CGGAT': 1,
 'GGATC': 1,
 'ATCGT': 1,
 'TCGTA': 1,
 'CGTAT': 1,
 'GTATA': 1,
 'TATAT': 1,
 'ATATA': 1,
 'TATAG': 1,
 'ATAGC': 1,
 'TAGCG': 1,
 'AGCGC': 1,
 'GCGCA': 1,
 'CGCAT': 1,
 'GCATC': 1,
 'CATCG': 1,
 'TCGAC': 1,
 'CGACT': 1}

In [ ]:
"""
Dia 5
"""

In [1]:
#Input examples
name = input("Introduce your name: ")
age = int(input("Introduce your age: "))

Introduce your name: Albert
Introduce your age: 22

In [4]:
#To read a file using python
name_file = open("textfile.txt", "rt") #rt because we are reading ("r") a text file ("t") (both parameters together)


line = name_file.readline() #This function reads the first line of the file, or a new one.
print(line) #This will print only the first line of the file, because it is the only one we have read.
#To read this file, we will repeat a block of statements the ammount of lines we want to read
#We need an iterative structure
no_line = 0
while line: #This loop will continue until line has nothing inside. 
    no_line += 1 #This variable is only used to print the line we are in, but it is useless. We start at 1. 
    print(f"We are in the line {no_line}, which is: {line}")
    line = name_file.readline() #We will read line by line. Every time we execute this code python will read the following line, starting with the first one
name_file.close() #We have to close the file using this syntax.

Line 1

We are in the line 1, which is: Line 1

We are in the line 2, which is: line 2

We are in the line 3, which is: line 3

We are in the line 4, which is: line 4

We are in the line 5, which is: line 5

In [8]:
#To read a file using python and a for loop.
name_file = open("textfile.txt", "rt") #rt because we are reading ("r") a text file ("t") (both parameters together)

#To read this file, we will repeat a block of statements the ammount of lines we want to read
#We need an iterative structure
no_line = 0
for line in name_file: #The line variable will have in it every line of the file in each iteration.
    no_line += 1 #This variable is only used to print the line we are in, but it is useless. We start at 1. 
    print(f"We are in the line {no_line}, which is: {line}")

for index, linea in enumerate(name_file): #Function enumerate to obtain the index of each line so we can print them avoiding to add a new variable.
    print(index, linea)
name_file.close() #We have to close the file using this syntax.

0 Line 1

1 line 2

2 line 3

3 line 4

4 line 5

In [11]:
#We can read every line at the same time. This method is NOT RECOMMENDED.
name_file = open("textfile.txt", "rt") #rt because we are reading ("r") a text file ("t") (both parameters together)
lines = list(name_file) #This saves us in a list every line of the textfile.
print(lines)
name_file.close()

['Line 1\n', 'line 2\n', 'line 3\n', 'line 4\n', 'line 5\n']

In [12]:
#Example. Develop a program that read a file and count the occurrences the number of characters, the number of lines and the occurrecnes of the word rabbit
alice_file = open("alice.txt", "rt") #We read the archive. 
characters, num_lines, word_rabbit = 0, 0, 0 #The variables we want to count-
for line in alice_file: #The for loop.
    characters += len(line)
    num_lines += 1 
    word_rabbit += line.lower().count("rabbit") #or [Rr]abbit
alice_file.close() #We close the archive.
print(characters, num_lines, word_rabbit)

164047 3761 54

In [13]:
#Using the with open to solve the problem. 
with open("alice.txt", "r") as name_file: #We could do similarly to the last exercice, without the readlines but iterating while insithe the archive in a for line in name_file to have each line in "line"
    contents = name_file.readlines()
characters, num_lines, word_rabbit = 0, 0, 0
for line in contents:
    characters += len(line)
    num_lines += 1
    word_rabbit += line.lower().count("rabbit")
print(characters, num_lines, word_rabbit)

164047 3761 54

In [16]:
#Basics of how to write a file
f = open("newfile.txt", "wt") #The file we want to create
line = "First line of my new file\n" #The content we will write in the file
f.write(line)
f.close()

In [23]:
#How to write a file --> having the same content as the alice.txt file replacing rabit with duck word. 
alice_file = open("alice.txt", "rt")
#We will create a new textfile
file_alice_duck = open("alice_no_rabbit", "wt") #My new file
for line in alice_file: #We iterate in every line of the first file.
    #contingut = line.replace("Rabbit", "Duck").replace("rabbit", "duck") #We can also create a new variable with two replace. 
    file_alice_duck.write(line.replace("[Rr]abbit", "[Dd]uck")) #This syntax allows us to replace both upper and lower case.
alice_file.close()
file_alice_duck.close()

In [39]:
#How to append information to an existing file
f = open("alice.txt", "at")
f.write("This is a new line\n") #The new line we are adding
f.close()

In [26]:
#Exercises of File I/O (2)
#E1.
file_name = input("What file you want to read? ")
with open(file_name, "r") as f: #We open the file as "f"
    for index, line in enumerate(f): #we start iterating in each line, saving in index the index (we will add 1 to have multiples of 5 equivalent to each line)
        print(f"Line {index+1}: {line}")
        if (index+1)%5 == 0: #When we have already printed 5 lines, we will ask if the user wants to continue
            question = input("Do you want to keep on reading (Y/N)? ")
            if question == "N":
                print("You will exit the archive")
                break
f.close()

What file you want to read? alice.txt
Line 1: ﻿The Project Gutenberg eBook of Alice’s Adventures in Wonderland, by Lewis Carroll

Line 2:

Line 3: This eBook is for the use of anyone anywhere in the United States and

Line 4: most other parts of the world at no cost and with almost no restrictions

Line 5: whatsoever. You may copy it, give it away or re-use it under the terms

Do you want to keep on reading (Y/N)? Y
Line 6: of the Project Gutenberg License included with this eBook or online at

Line 7: www.gutenberg.org. If you are not located in the United States, you

Line 8: will have to check the laws of the country where you are located before

Line 9: using this eBook.

Line 10:

Do you want to keep on reading (Y/N)? Y
Line 11: Title: Alice’s Adventures in Wonderland

Line 12:

Line 13: Author: Lewis Carroll

Line 14:

Line 15: Release Date: January, 1991 [eBook #11]

Do you want to keep on reading (Y/N)? N
You will exit the archive

In [37]:
#E2
with open("changed_alice.txt", "w") as f_changed:
    with open("alice.txt", "r") as f:
        for line in f: #We start iterating among every line of the file
            f_changed.write(line.replace("A", "I").replace("E", "I").replace("O", "I").replace("U", "I").replace("a", "i").replace("e", "i").replace("o", "i").replace("u", "i")) #Haven't found anothger way to do it


#E2 (both ways work)
f_changed = open("changed_alice.txt", "wt")
f = open("alice.txt", "rt")
for line in f:
    f_changed.write(line.replace("A", "I").replace("E", "I").replace("O", "I").replace("U", "I").replace("a", "i").replace("e", "i").replace("o", "i").replace("u", "i")) #Haven't found anothger way to do it
f_changed.close()

In [42]:
#E3

AttributeError: module 'datetime' has no attribute 'now'

In [49]:
#Transform a FASTQ file to a FASTA (Albert's way)
def fromFASTQtoFASTA(file_input, file_output): #We give a FASTQ file
    contingut = "" #All the elements we will write in our new FAST
    with open(file_input) as f: #We read the file and save it in a list
        totes_linies = f.readlines()
        #We start iterating over every line, but 4 as a step. We have to do the readlines() because we cannot do len(f)
    for index_line in range(0,len(totes_linies), 4): #We will iterate every 4 lines to get only the first two with one index
        contingut+= (">"+totes_linies[index_line][1:]) #In the first line, we change the @ and add >.
        contingut+= totes_linies[index_line+1]
    with open(file_output, "w") as f_2:
        f_2.write(contingut)

In [52]:
#Transform a FASTQ file to a FASTA (Adria's way) This one is far more memory efficient (we do not save all the archive in an object, we can go line by line)
def fromFASTQtoFASTA_V2(file_input, file_output): #We give a FASTQ file
    with open(file_input) as f: #We read the file and save it in a list
        with open(file_output, "w") as f_2:
        #We start iterating over every line, but 4 as a step. We have to do the readlines() because we cannot do len(f)
            for index, line in enumerate(f): #We iterate over each line, saving the index.
                if (index % 4) == 0: #When this is true, save the line because this will be the first line in every sequence.
                    f_2.write(">"+line[1:]) #We can also write line.replace("@", ">").
                elif (index % 4) == 1: #When this is true, we will save the sequence.
                    f_2.write(line)

In [53]:
fromFASTQtoFASTA("mbio.sample.fastq", "example2_file.txt")
fromFASTQtoFASTA_V2("mbio.sample.fastq", "example2_file.txt")

In [56]:
#Review exercises (4)
#E1. Given a FASTQ, implement a script that counts the total number of "TATA" box that appears.
def Count_TATA(file_input): #We give a FASTQ file to the function
    TATA_counts = 0
    with open(file_input) as f: #We open a connection with the file
        for index, line in enumerate(f): #We save the index and lanes to select only the line with the sequence.
            if (index % 4 == 1): #When the module is 1, we will have the 2nd line in every 4 iterations (each iteration start with 0 - 1 - 2 - 3).
                TATA_counts += line.count("TATA") #We count the number of TATA elements that we find in the desired lines.
    return TATA_counts

Count_TATA("mbio.sample.fastq")

52

In [56]:
#E2. How reads appear aligned in the SAM file.
def process_SAM(file_input):
    with open(file_input) as f: #We make the connection with the file
        for index, line in enumerate(f): #I do not know the desired output, so I will do what I can.
            seq_name, seq_position, sequence = line.split("\t")[0], line.split("\t")[3], line.split("\t")[9] #We cannot do the \t in the print(f"") structure, so we can save the objects before to use what we want later.
            print(f"The sequence number {index+1} has the following attributes: name {seq_name}; starting position {seq_position}; and nucleotide sequence {sequence}")

process_SAM("mbio.sample.sam")

In [58]:
#E3. Read a VCF file and count how many variants are SNP and how mane are indel.
def count_SNP_VCF(file_input):
    SNPs_found = 0
    bases = ("A", "C", "G", "T")
    with open(file_input) as f:
        for line in f:
            if not line.startswith("#"): #The first lines start with an "#"" always (at least in the dataset that was given to us), after
                if  (line.split("\t")[3] in bases) and (line.split("\t")[4] in bases): #When both elements are just bases, then save it
                    SNPs_found += 1
    return SNPs_found 
count_SNP_VCF("mbio.sample.vcf")

956

In [63]:
#ASSIGNMENT 2
import argparse

#Function for case: Reverse-Complement (will be activated only if it is specified: --operation rc)
def reverse_complement(DNA_1): #Will take only the sequence as arguments.
    reversa_comp = DNA_1[::-1].translate(str.maketrans("ACTG", "TGAC"))
    return reversa_comp

#Function for case: Trim (will be activated only if it is specified: --operator trim)
def Trim_seq(DNA_1, left, right): #Will take the sequence, and the number of bases we want to trim (from both ends)
    return DNA_1[left:(len(DNA_1)-right)] #We remove the right part and the left part. 

#Function for case: Adaptor removal (will be activated only if it is specified: --opration adaptor-removal)
def Adaptor_eraser(DNA_1, seq_adaptor):
    if seq_adaptor == DNA_1[:(len(seq_adaptor))]: #If the first elements of the sequence is equals to our adaptor, we will trim it
        return DNA_1[len(seq_adaptor):]


    
#STRUCTURE OF MY PROGRAM: GIVEN --input [file] --output [file] --operator [operation]

#Argparses. 
arguments = argparse.Argumentsparser() #This line saves in arguments all the arguments given.

argument.add_argument() #

In [64]:
Trim_seq("GAATTN", 2, 0)

'ATTN'

In [ ]:
"""
Dia 6 - 2/10/23
"""

In [5]:
import re #We need to import this to create a regular expression
# --> r'pattern' this is the basic strcuture.
text = "SEQ=ACGTACGT ID=1990223 REFERENCE=REF00_200"
match = re.search(r'SEQ', text) #Search method is used to find a pattern in a given object. The 1rst parameter is the pattern (with an r at the front).
if match: #If the variable match has data:
    print(match.group(), match.start(), match.end()) #To print the pattern found (method group), and start (to print the index where it starts), and end (to pring where it ends).

SEQ 0

In [6]:
import re #We need to import this to create a regular expression
# --> r'pattern' this is the basic strcuture.
text = "SEQ=ACGTACGT ID=1990223 REFERENCE=REF00_200"
match = re.search(r'ID=1', text) #Search method is used to find a pattern in a given object. The 1rst parameter is the pattern (with an r at the front).
if match: #If the variable match has data:
    print(match.group(), match.start(), match.end()) #To print the pattern found (method group; if we had more patterns, we would find more results but we have written a constant pattern), and start (to print the index where it starts), and end (to pring where it ends).

ID=1 13 17

In [19]:
#Pattern that represent multiple sequences. 
sequence = 'AAAACGTACGACTAAAAACCGCATACGACTGAC'
match = re.search(r'AAAA(AC)+', sequence) #Now the pattern is not constant: 4 A, a subsequence (AC) (one or multiple subsequences of AC),
if match: 
    print(match.group(), match.start(), match.end())
    print(f'Trobem el patró {match.group()} que comença a la posició {match.start()} i acaba en la posició {match.end()}')

AAAAAC 13 19
Trobem el patró AAAAAC que comença a la posició 13 i acaba en la posició 19

In [25]:
#Example 2
sequence = "AAAAACTT"
match = re.search(r'(AC)[GT]', sequence) #(AC) --> Both at the same time; [GT] one or the other.
if match:
    print(f'Trobem el patró {match.group()} que comença a la posició {match.start()} i acaba en la posició {match.end()}')

Trobem el patró ACT que comença a la posició 4 i acaba en la posició 7

In [26]:
match = re.search(r'(GG)|(TT)', sequence)

'TT'

In [32]:
#Example (II) regular expressions
import re
with open("mbio.sample.fastq") as f:
    with open("output_file.txt", "w") as f_2: #Where we will write the results.
        for index, line in enumerate(f):
            if index % 4 == 0:
                tag = line #We save the name of the sequence
            elif index % 4 == 1: #We find the TATA sequence in the line in whcih we find the sequence
                match = re.search(r'TATA', line) #We can store the pattern in an object like: pattern = r'TATA'
                if match:
                    f_2.write(f'Found the sequence with:\n -tag: {tag} -sequence {line}')

In [38]:
#Example 3 --> Using findall
sequence = "AAACBBBBBBBBBBAAAC"
match = re.findall(r'AAAC', sequence) 
print(match) #We can print directly the matches.

['AAAC', 'AAAC']

In [40]:
#Example 4 --> Using split
sequence = "AAACBBBBBBBBBCBAAAC"
match = re.split(r'CB', sequence) #The method will divide the sequence in the positions of the pattern (eliminating the pattern)
print(match) #We can print directly the matches (it returns a list).

['AAA', 'BBBBBBBB', 'AAAC']

In [48]:
#Example 5 --> Using sub.
sequence = "AAACBBBBBBBBBCBAAAC"
match = re.sub(r'CB', "WWWWW", sequence) #The method will divide the sequence in the positions of the pattern (eliminating the pattern)
print(match) #We can print directly the matches (it returns a list).

AAAWWWWWBBBBBBBBWWWWWAAAC

In [49]:
#Example 6 --> [ ].
sequence = "AAACTXXBBBBBBBBBCBAAAC"
match = re.search(r'[ACT]XX', sequence) #It finds only AXX, CXX, TXX
print(match.group())

TXX

In [50]:
#Example 7 --> \
sequence = "AAACTXXBBBBBBBBBCBAAACID=44"
match = re.search(r'\d\d', sequence) #Here we are searching for 2 digits in a row, not 2 D.
print(match.group())

44

In [57]:
#Example 8 --> .
sequence = "AAAWT"
match = re.search(r'A.T', sequence) #It will find whatever A_T structure.
print(match.group())

AWT

In [59]:
#Example 9 --> ^
sequence = "XCAAAA"
match = re.search(r'^CAAA', sequence) #The symbol will mean that we will only match the pattern if it starts at the beggining (won't find anything)
print(match.group())

AttributeError: 'NoneType' object has no attribute 'group'

In [70]:
#Example 10 --> $
sequence = "XCAAAT"
match = re.search(r'CAAA$', sequence) #The symbol will mean that we will only match the pattern if it starts at the beggining (won't find anything)
print(match.group())

AttributeError: 'NoneType' object has no attribute 'group'

In [74]:
#Example 11 --> *.
sequence = "CCAAAAAAAAAT"
match = re.search(r'CA*', sequence) #It it starts with CC, it will return only a C; it we erase the first C, we will have C and multiple A.
print(match.group())

C

In [75]:
#Example 12 --> +
sequence = "CCAAAAAAAAAT"
match = re.search(r'CA+', sequence) 
print(match.group())

CAAAAAAA

In [84]:
#Example 13 --> {}
sequence = "TTTTTTTTTTTTTTTTTTCAAAAGTGCATGCAT"
match = re.search(r'CA{4}', sequence) 
print(match.group())

CAAAA

In [90]:
#Example 14 --> |
sequence = "TTTTTTTTTTTTTTTTTTCCAAATAGTGCATGCAT"
match = re.search(r'(CC|AA)T', sequence) #Or CCT or AAT
print(match.group())

AAT

In [94]:
#Example 15 --> ()
sequence = "CCCCACACACACAAAAAAAAAAAAATTTGGTGTG"
match = re.search(r'C(CA)*', sequence) 
print(match.group())

C

In [104]:
#More complex structures.
text = "NAME=Santiago INITIAL=S AGE=23"
match = re.search(r'[0123456789][0123456789]',text) #We can do this to find two numbers
match_1 = re.search(r'[0-9][0-9]',text) #A more compressed expression
match_2 = re.search(r'\d\d', text) #Two random digits
print(match.group(), match_1.group(), match_2.group())

23 23 23

In [109]:
#Excluding sets.
text = "NAME=Santiago INITIAL=S AGE=23 ID=Ç"
match = re.search(r'ID=[^TQERCBPOPAJ]', text) #It won't consider the given characters as a match.
print(match.group())

ID=Ç

In [120]:
#We can write ranges of letters
text = "NAME=Santiago AGE=23"
# Matches "NAME=" and the 1st lowercase letter
match = re.search(r'NAME=[abcdefghijklmnñopqrstuvwxyz]',text)
# Matches "NAME=" and the 1st letter
match = re.search(r'NAME=[a-zA-Z]',text) #We have here two ranges to take into account the first capital letter
# Matches "NAME=" and the 1st letter or number
match = re.search(r'NAME=[a-zA-Z0-9]',text) 
# Matches "NAME=" and the 1st letter, number, or underscore
match = re.search(r'NAME=[a-zA-Z0-9_]',text)
# Matches "NAME=" and the 1st letter, number, or underscore
match = re.search(r'NAME=\w',text) #Here \W means any character. 
# Matches "NAME=" and the 1st character (except newline)
match = re.search(r'NAME=.',text) #After = anything. 
#If we want the complete name
match = re.search(r'NAME=[a-zA-z]*', text) #* because we will repeat it until we have an space. 
match = re.search(r'NAME=\W*', text) #* because we will repeat it until we have an space
print(match.group())

NAME=Santiago

In [131]:
text = "ATACAGA" 
match = re.search(r'(TA)((CA)|(GA))',text) # It matches TA and  CA or GA- A combination of two elements. 
print(match.group())

TACA

In [134]:
#Group extraction
text_line = 'My name is Santi and my email is santiago.marco.00@uab.mbio.cat and ...'
match = re.search(r'([^ @]+)@([^ @]+)\.([^ @]+) ',text_line) #Pattern that follows an email. 1rst: no space or @ (until it find a space or @); then a forced @, then the same; the \. is used to find a dot, without being a metacharacter.
if match:
    print (match.group()) ## 'santiago.marco.00@uab.cat' (the whole match)
    print (match.group(1)) ## 'santiago.marco.00' (Username, group 1)
    print (match.group(2)) ## 'uab' (Host, group 2)
    print (match.group(3)) ## 'cat' (Domain, group 3)

santiago.marco.00@uab.mbio.cat
santiago.marco.00
uab.mbio
cat

In [67]:
#Review exercices --> Regular expressions
#[E1] Implement a function that, given a sequence, checks for the presence of an recognition site, which can have two different sequences: GGACC and GGTCC.
import re
def recog_site(seq):
    match = re.search(r'GG[AT]CC', seq) #We recognise both desired motif.
    if match:
        print(f'The recognition syte {match.group()} was found in the sequence {seq}, starting at the index {match.start()}')
recog_site("CAGTCAGTCTAGCGACTGATCGACTGGGACCAAA")

The recognition syte GGACC was found in the sequence CAGTCAGTCTAGCGACTGATCGACTGGGACCAAA, startint at the index 26

In [98]:
#[E2] Implement a function that given two strings, a DNA sequence and an adaptor sequence, returns the input DNA sequence without the adaptor if it occurs at the beginning of the sequence.
import re
def remove_adaptor(seq_1, adaptor):
    match = re.search("^"+adaptor, seq_1)
    if match: 
        return seq_1[match.end():]
remove_adaptor("AAAAGTACGTCTATGCGTCTG", "A{4}G")

'TACGTCTATGCGTCTG'

In [115]:
#E2 but with a list of adaptors
def remove_adaptor_list(seq_1, list_adaptor):
    for adaptor in list_adaptor: #We iterate in every element within our list.
        match = re.search("^"+adaptor, seq_1)
        if match: 
            return seq_1[match.end():]
remove_adaptor_list("AAAGTACGTCTATGCGTCTG", ["A{4}G", "AAA"])

'GTACGTCTATGCGTCTG'

In [83]:
#[E3] A CIGAR string is a sequence of operations (M,I,D) and its length. Implement a function that given a CIGAR string, returns a list with all the operations and its length.
def process_CIGAR(cigar): 
    re.findall(r'\W', cigar)

AAAAG

In [141]:
CIGARRO = "10M3D5M1I10M"
match = re.findall(r'\w+[^\d]', CIGARRO)
print(match)

['10M3D5M1I10M']